.container-visuals{
    width: 500px;
    position: relative;
    background-image: url("../images/bg-main-desktop.png");
    background-size: cover;
}

.credit-card__container{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 7rem;
}

.credit-card__front label , .credit-card__back label{
    color: var(--White);
}

.credit-card__front{
    position: absolute;
    background: url("../images/bg-card-front.png");
    background-repeat: no-repeat;
    background-size: cover;

    padding: 1.5rem;
    width: 447px;
    height: 225px;

    top: 20%;
    left: 25%;

    display: grid;
    gap: 4rem;
}
.credit-card__back{
    position: absolute;
    background: url("../images/bg-card-back.png");
    background-repeat: no-repeat;
    background-size: cover;

    width: 447px;
    height: 225px;

    bottom: 20%;
    left: 50%;


    display: grid;
}

.credit-card__front-details{
    display: grid;
    gap: 1.25rem;
}

.credit-card__name-and-exp{
    width: 100%;
    
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.credit-card__number{
    font-size: 26px;
    letter-spacing: 5px;
}

.credit-card__cvc{
    margin-top: 25%;
    margin-left: 83%;
    font-size: 1rem;
}

