.header, .footer {
  font-family: Alata, sans-serif;
  font-weight: 400;
}

.hero, .about, .creations, .hamburger-bar {
  font-family: Josefin Sans, sans-serif;
  font-weight: 300;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
  min-height: 100vh;
}
body::-webkit-scrollbar {
  width: 1rem;
}
body::-webkit-scrollbar-thumb {
  background-color: rgba(97, 12, 131, 0.829);
}
@media (max-width: 770px) {
  body {
    -ms-overflow-style: none;
    scrollbar-width: 0;
  }
  body::-webkit-scrollbar {
    display: none;
  }
}

.hero__title {
  font-size: 9rem;
}

.about__title {
  font-size: 5.5rem;
}

.about__description {
  font-size: 2.5rem;
}

.header__title {
  font-size: clamp(2.5rem, 4rem + 2vw, 6rem);
}

.creations__title {
  font-size: 5.5rem;
}

.creation__text {
  font-size: 4rem;
}

.navbar__item a {
  font-size: 2.5rem;
}

.footer__title {
  font-size: 4rem;
}

.footer__navbar__item a {
  font-size: 2.5rem;
}

.footer__copyright {
  font-size: 2.5rem;
}

.hamburger-bar a {
  font-size: 2rem;
}

@media (max-width: 1700px) {
  .hero__title {
    font-size: 5.5rem;
  }
  .about__title {
    font-size: 4rem;
  }
  .about__description {
    font-size: 2rem;
  }
  .creations__title {
    font-size: 4rem;
  }
  .creation__text {
    font-size: 4rem;
  }
  .footer__navbar__item a {
    font-size: 2rem;
  }
  .footer__copyright {
    font-size: 2rem;
  }
}
@media (max-width: 1300px) {
  .header__title {
    font-size: 4rem;
  }
  .hero__title {
    font-size: 4rem;
  }
  .navbar__item a {
    font-size: 2rem;
  }
  .about__title {
    font-size: 2.5rem;
  }
  .about__description {
    font-size: 1.5rem;
  }
  .creations__title {
    font-size: 2.5rem;
  }
  .creation__text {
    font-size: 2.5rem;
  }
  .footer__title {
    font-size: 2.5rem;
  }
  .footer__navbar__item a {
    font-size: 1.5rem;
  }
  .footer__copyright {
    font-size: 1.5rem;
  }
}
@media (max-width: 1000px) {
  .header__title {
    font-size: 2.5rem;
  }
  .hero__title {
    font-size: 2.5rem;
  }
  .navbar__item a {
    font-size: 1.5rem;
  }
  .about__title {
    font-size: 2rem;
  }
  .about__description {
    font-size: 1.25rem;
  }
  .creations__title {
    font-size: 2rem;
  }
  .creation__text {
    font-size: 2rem;
  }
  .footer__title {
    font-size: 2rem;
  }
  .footer__navbar__item a {
    font-size: 1.25rem;
  }
  .footer__copyright {
    font-size: 1.25rem;
  }
}
@media (max-width: 770px) {
  .hero__title {
    font-size: 4rem;
  }
  .creation__text {
    font-size: 2.5rem;
  }
  .about__title {
    font-size: 2.5rem;
  }
  .about__description {
    font-size: 2rem;
  }
  .creations__title {
    font-size: 2.5rem;
  }
  .footer__title {
    font-size: 2.5rem;
  }
  .footer__navbar__item a {
    font-size: 1.5rem;
  }
  .footer__copyright {
    font-size: 1.5rem;
  }
}
@media (max-width: 400px) {
  .hero__title {
    font-size: 3.25rem;
  }
  .creation__text {
    font-size: 2rem;
  }
  .about__title {
    font-size: 2rem;
  }
  .about__description {
    font-size: 1.5rem;
  }
  .creations__title {
    font-size: 2rem;
  }
  .footer__title {
    font-size: 2rem;
  }
  .footer__navbar__item a {
    font-size: 1.25rem;
  }
  .footer__copyright {
    font-size: 1.25rem;
  }
}
.wrapper {
  max-width: 1650px;
  margin: 0 auto;
}
@media (max-width: 1700px) {
  .wrapper {
    max-width: 1250px;
  }
}
@media (max-width: 1300px) {
  .wrapper {
    max-width: 950px;
  }
}
@media (max-width: 1000px) {
  .wrapper {
    max-width: 750px;
  }
}
@media (max-width: 770px) {
  .wrapper {
    max-width: 90%;
  }
}

.outer-hero {
  position: relative;
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../../../images/desktop/image-hero.jpg");
  background-position: top center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  padding-bottom: 8rem;
}

.hero {
  position: relative;
  padding-top: 1rem;
  height: 100%;
}
.hero__title {
  position: relative;
  padding: 3rem;
  border: 1px solid hsl(0, 0%, 100%);
  color: hsl(0, 0%, 100%);
  text-transform: uppercase;
  font-weight: 400;
  max-width: 45%;
  margin-top: 8rem;
}
@media (max-width: 1000px) {
  .hero__title {
    padding: 2rem;
  }
}

.header {
  display: flex;
  flex-direction: row;
  gap: 0em;
  justify-content: space-between;
  align-items: center;
  flex-wrap: nowrap;
  width: 100%;
}
.header__title {
  position: relative;
  margin: 0;
  color: hsl(0, 0%, 100%);
  z-index: 5;
}

.navbar {
  display: flex;
  flex-direction: row;
  gap: 5rem;
  justify-content: flex-start;
  align-items: flex-start;
  flex-wrap: nowrap;
  list-style-type: none;
}
.navbar__item a, .navbar__item a:hover, .navbar__item a:active .navbar__item a:focus {
  color: hsl(0, 0%, 100%);
  text-decoration: none;
  cursor: pointer;
}
@media (max-width: 1000px) {
  .navbar {
    gap: 4rem;
  }
}
.navbar__item {
  position: relative;
  padding-bottom: 0.5rem;
}
.navbar__item::after {
  content: "";
  position: absolute;
  transform: translateX(50%) scale(0, 1);
  transition: transform 0.15s ease-in-out;
  left: 0;
  bottom: 0;
  width: 50%;
  height: 2px;
  background-color: hsl(0, 0%, 100%);
}
.navbar__item:hover::after {
  transform: translateX(50%) scale(1, 1);
}

@media (max-width: 770px) {
  .outer-hero {
    height: 70vh;
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../../../images/mobile/image-hero.jpg");
    background-position: center;
    padding: 0;
  }
  .hero {
    padding-top: 2rem;
  }
  .hero__title {
    position: absolute;
    margin: 0;
    max-width: 100%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  .navbar {
    display: none;
  }
}
.hamburger-menu {
  display: none;
  position: fixed;
  transform: translateX(-100%);
  opacity: 0;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  z-index: 3;
  background-color: black;
  transition: transform 0.5s ease-in-out, opacity 0.5s ease-in-out;
}
@media (max-width: 770px) {
  .hamburger-menu {
    display: block;
  }
}

.hamburger-icon {
  display: none;
  position: absolute;
  width: 30px;
  height: 20px;
  z-index: 4;
  right: 0;
}
@media (max-width: 770px) {
  .hamburger-icon {
    display: block;
  }
}

.hamburger-icon input {
  position: absolute;
  opacity: 0;
  width: 30px;
  height: 20px;
  z-index: 5;
}

.hamburger-icon span {
  position: absolute;
  display: block;
  width: 100%;
  height: 3px;
  background-color: white;
  transform: rotate(0deg);
  opacity: 1;
  left: 0%;
  transition: transform 0.5s ease-in-out, top 0.5s ease-in-out, left 0.5s ease-in-out, width 0.5s ease-in-out;
}
.hamburger-icon span:nth-child(1) {
  top: 0px;
}
.hamburger-icon span:nth-child(2), .hamburger-icon span:nth-child(3) {
  top: 8px;
}
.hamburger-icon span:nth-child(4) {
  top: 16px;
}

.hamburger-icon:has(input:checked) > span:nth-child(1), .hamburger-icon:has(input:checked) > span:nth-child(4) {
  top: 8px;
  width: 0%;
  left: 50%;
}
.hamburger-icon:has(input:checked) > span:nth-child(2) {
  transform: rotate(45deg);
}
.hamburger-icon:has(input:checked) > span:nth-child(3) {
  transform: rotate(-45deg);
}
.hamburger-icon:has(input:checked) ~ .hamburger-menu {
  transform: translateX(0%);
  opacity: 1;
}

.hamburger-bar {
  display: flex;
  flex-direction: column;
  gap: 2.5rem;
  justify-content: flex-start;
  align-items: flex-start;
  flex-wrap: nowrap;
  position: relative;
  top: 18rem;
}
.hamburger-bar a {
  text-transform: uppercase;
  color: white;
}

.about {
  position: relative;
  margin-top: 15rem;
}
.about__image {
  width: 60%;
}
.about__details {
  position: absolute;
  background-color: hsl(0, 0%, 100%);
  max-width: 45%;
  top: 45%;
  left: 48%;
  padding-left: 8rem;
  padding-top: 7rem;
}
@media (max-width: 1700px) {
  .about__details {
    padding-top: 5rem;
  }
}
@media (max-width: 1300px) {
  .about__details {
    padding-top: 4.75rem;
  }
}
@media (max-width: 1000px) {
  .about__details {
    padding-top: 3.75rem;
  }
}
.about__title {
  font-family: Josefin Sans;
  font-weight: 300;
  text-transform: uppercase;
}
@media (max-width: 1700px) {
  .about {
    margin-top: 10rem;
  }
}
@media (max-width: 1300px) {
  .about {
    margin-top: 8rem;
  }
}
@media (max-width: 1000px) {
  .about {
    margin-top: 6rem;
  }
}

@media (max-width: 770px) {
  .about__image {
    width: 100%;
  }
  .about__details {
    position: relative;
    top: 0;
    left: 0;
    padding-inline: 2.5rem;
    padding-block: 1rem;
    min-width: 100%;
    text-align: center;
  }
}
.creations {
  margin-top: 15rem;
  display: grid;
  grid-template-areas: "title button" "list list";
}
.creations__title {
  font-family: Josefin Sans;
  font-weight: 300;
  text-transform: uppercase;
  grid-area: title;
}
.creations__button {
  text-transform: uppercase;
  letter-spacing: 1rem;
  color: black;
  background-color: hsl(0, 0%, 100%);
  border-color: black;
  border-width: 1px;
  font-family: Alata;
  grid-area: button;
  width: 20rem;
  height: 5rem;
  font-size: 1.6rem;
  align-self: center;
  justify-self: end;
}
@media (max-width: 1300px) {
  .creations__button {
    width: 15rem;
    height: 4rem;
    font-size: 1.2rem;
    letter-spacing: 0.8rem;
  }
}
@media (max-width: 1000px) {
  .creations__button {
    width: 12rem;
    height: 3rem;
    font-size: 0.8rem;
    letter-spacing: 0.6rem;
  }
}
@media (max-width: 770px) {
  .creations__button {
    width: 15rem;
    height: 4rem;
    font-size: 1.2rem;
    letter-spacing: 0.8rem;
  }
}
.creations__button:hover {
  color: hsl(0, 0%, 100%);
  background-color: hsl(0, 0%, 0%);
}
@media (max-width: 1700px) {
  .creations {
    margin-top: 10rem;
  }
}
@media (max-width: 1300px) {
  .creations {
    margin-top: 8rem;
  }
}
@media (max-width: 1000px) {
  .creations {
    margin-top: 6rem;
  }
}

.creations__list {
  margin-top: 5rem;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 4rem;
  grid-area: list;
}
@media (max-width: 1000px) {
  .creations__list {
    gap: 3rem;
  }
}

.creation {
  position: relative;
}
.creation__image {
  width: 100%;
  height: 100%;
}
.creation__image-mobile {
  display: none;
}
.creation__text {
  position: absolute;
  font-family: Josefin Sans;
  font-weight: 300;
  text-transform: uppercase;
  color: hsl(0, 0%, 100%);
  top: 75%;
  left: 10%;
  z-index: 2;
  padding-right: 5rem;
}
.creation:hover .creation__text {
  color: hsl(0, 0%, 0%);
}
.creation:hover::after {
  background-color: rgba(255, 255, 255, 0.651);
}

.creation::after {
  content: "";
  background: linear-gradient(to top, hsla(0, 0%, 0%, 0.493), hsla(0, 0%, 0%, 0));
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
}

@media (max-width: 770px) {
  .creations {
    grid-template-areas: "title" "list" "button";
    gap: 2rem;
  }
  .creations__title {
    justify-self: center;
  }
  .creations__button {
    justify-self: center;
  }
  .creations__list {
    margin-top: 0;
    grid-template-columns: 1fr;
  }
  .creation__image {
    display: none;
  }
  .creation__image-mobile {
    display: block;
    width: 100%;
  }
  .creation__text {
    left: 5%;
    top: 65%;
    max-width: 40%;
  }
  .creation::after {
    background: linear-gradient(to right, hsla(0, 0%, 0%, 0.493), hsla(0, 0%, 0%, 0));
  }
}
@media (max-width: 600px) {
  .creation__text {
    top: 50%;
    max-width: 50%;
  }
}
@media (max-width: 350px) {
  .creation__text {
    top: 45%;
    max-width: 60%;
  }
}
.outer-footer {
  background-color: hsl(0, 0%, 0%);
  margin-top: 15rem;
}

.footer {
  padding-block: 3rem;
  color: hsl(0, 0%, 100%);
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}
.footer__navbar {
  display: flex;
  gap: 5rem;
  flex-direction: row;
  align-items: center;
  list-style-type: none;
  padding: 0;
}
.footer__navbar__item a, .footer__navbar__item a:hover, .footer__navbar__item a:active .footer__navbar__item a:focus {
  color: hsl(0, 0%, 100%);
  text-decoration: none;
  cursor: pointer;
}
.footer__navbar__item {
  position: relative;
  padding-bottom: 1rem;
}
.footer__navbar__item::after {
  content: "";
  position: absolute;
  transform: translateX(50%) scale(0, 1);
  transition: transform 0.15s ease-in-out;
  left: 0;
  bottom: 0;
  width: 50%;
  height: 2px;
  background-color: hsl(0, 0%, 100%);
}
.footer__navbar__item:hover::after {
  transform: translateX(50%) scale(1, 1);
}
.footer__copyright {
  text-align: end;
  color: hsl(0, 0%, 55%);
  font-weight: 400;
}
.footer__icons {
  display: flex;
  flex-direction: row;
  gap: 4rem;
  justify-content: flex-end;
  align-items: center;
  flex-wrap: nowrap;
  list-style-type: none;
}
.footer__icons__item {
  position: relative;
  width: 5rem;
}
.footer__icons li {
  position: relative;
  padding-bottom: 1rem;
}
.footer__icons li::after {
  content: "";
  position: absolute;
  transform: scale(0, 1);
  transition: transform 0.15s ease-in-out;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 2px;
  background-color: hsl(0, 0%, 100%);
}
.footer__icons li:hover::after {
  transform: scale(1, 1);
}
@media (max-width: 1700px) {
  .footer {
    margin-top: 10rem;
  }
  .footer__navbar {
    gap: 3.5rem;
  }
  .footer__icons {
    gap: 3.5rem;
  }
  .footer__icons img {
    width: 4rem;
  }
}
@media (max-width: 1300px) {
  .footer {
    margin-top: 8rem;
  }
  .footer__navbar {
    gap: 3rem;
  }
  .footer__icons {
    gap: 3rem;
  }
  .footer__icons img {
    width: 3.5rem;
  }
}
@media (max-width: 1000px) {
  .footer {
    margin-top: 6rem;
  }
  .footer__navbar {
    gap: 2.5rem;
  }
  .footer__icons {
    gap: 2.5rem;
  }
  .footer__icons img {
    width: 3rem;
  }
}
@media (max-width: 770px) {
  .footer {
    grid-template-columns: 1fr;
    gap: 1.5rem;
    text-align: center;
  }
  .footer__navbar, .footer__icons, .footer__copyright, .footer__title {
    justify-self: center;
  }
  .footer__icons {
    padding: 0;
    grid-row: 3;
    gap: 1.5rem;
  }
  .footer__icons img {
    width: 2.25rem;
  }
  .footer__title {
    margin: 0;
  }
  .footer__navbar {
    grid-row: 2;
    flex-direction: column;
  }
}

body.hide-overflow {
  overflow: hidden;
}/*# sourceMappingURL=style.css.map */