$font-alata: 'Alata', sans-serif;
$font-josefin-sans: 'Josefin Sans', sans-serif;

.header , .footer {
    font-family: Alata , sans-serif;
    font-weight: 400;
}
.hero , .about , .creations , .hamburger-bar{
    font-family: Josefin Sans , sans-serif;
    font-weight: 300;
}
