@use "../util" as *;

.wrapper{
    max-width: 1650px;
    margin-inline: auto;

    @include breakpoint(xl){
        max-width: 1250px;
    }
    @include breakpoint(l){
        max-width: 1050px;
    }
    @include breakpoint(m){
        max-width: 800px;
    }
    @include breakpoint(s){
        max-width: 100%;
        margin-inline: 2rem;
    }
}