.introduction__title, .introduction__desc,
.rec__title, .rec__desc, .card__desc,
.card-writer__image, .card-writer__details {
  color: hsl(243, 87%, 12%);
}

.outer-early-access {
  background-color: hsl(238, 22%, 44%);
}

.early-access-text {
  color: white;
}

.early-access-interaction__button {
  color: white;
  background-color: hsl(224, 93%, 58%);
}

.outer-footer {
  background-color: hsl(243, 87%, 12%);
}

.options {
  color: white;
}

main, .early-access, footer {
  font-family: Open Sans;
}

h1, h2, h3, header {
  font-family: Raleway;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
}

*, *::before, *::after {
  box-sizing: inherit;
  margin: 0;
}

body {
  padding: 0;
  min-height: 100vh;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
}
body::-webkit-scrollbar {
  width: 1rem;
}
body::-webkit-scrollbar-thumb {
  background-color: hsl(238, 34%, 56%);
}
@media (max-width: 850px) {
  body {
    -ms-overflow-style: none;
    scrollbar-width: 0;
  }
  body::-webkit-scrollbar {
    display: none;
  }
}

.navbar {
  font-size: 2.5rem;
}

.introduction__title, .rec__title {
  font-size: 5rem;
}

.early-access-text__title {
  font-size: 4rem;
}

.introduction__desc, .rec__desc {
  font-size: 2.5rem;
}

.rec__link, .card__desc, .early-access-text__desc, .contact, footer .navbar {
  font-size: 1.6rem;
}

.introduction__input--error, .early-access-interaction__input--error {
  font-size: 1.3rem;
}

.card-writer__details {
  font-size: 1.1rem;
}

.introduction__input::placeholder, .introduction__button {
  font-size: 1.3rem;
}

@media (max-width: 1700px) {
  .navbar {
    font-size: 2.5rem;
  }
  .introduction__title, .rec__title {
    font-size: 4rem;
  }
  .early-access-text__title {
    font-size: 3rem;
  }
  .introduction__desc, .rec__desc {
    font-size: 1.6rem;
  }
  .rec__link, .card__desc, .early-access-text__desc, .contact, footer .navbar {
    font-size: 1.3rem;
  }
  .introduction__input--error, .early-access-interaction__input--error {
    font-size: 1.3rem;
  }
  .card-writer__details {
    font-size: 1.1rem;
  }
}
@media (max-width: 1300px) {
  .navbar {
    font-size: 1.6rem;
  }
  .introduction__title, .rec__title, .early-access-text__title {
    font-size: 3rem;
  }
  .introduction__desc, .rec__desc {
    font-size: 1.6rem;
  }
  .rec__link, .card__desc, .early-access-text__desc, .contact, footer .navbar {
    font-size: 1.3rem;
  }
  .introduction__input--error, .early-access-interaction__input--error {
    font-size: 1.3rem;
  }
  .card-writer__details {
    font-size: 1.1rem;
  }
}
@media (max-width: 1100px) {
  .navbar {
    font-size: 1.6rem;
  }
  .introduction__title, .rec__title, .early-access-text__title {
    font-size: 2.5rem;
  }
  .introduction__desc, .rec__desc {
    font-size: 1.3rem;
  }
  .rec__link, .card__desc, .early-access-text__desc, .contact, footer .navbar {
    font-size: 1.3rem;
  }
  .introduction__input--error, .early-access-interaction__input--error {
    font-size: 1.1rem;
  }
  .card-writer__details {
    font-size: 1.1rem;
  }
  .introduction__input::placeholder, .introduction__button {
    font-size: 1.1rem;
  }
}
@media (max-width: 850px) {
  .navbar {
    font-size: 1.3rem;
  }
}
.wrapper {
  max-width: 1650px;
  margin-inline: auto;
}
@media (max-width: 1700px) {
  .wrapper {
    max-width: 1250px;
  }
}
@media (max-width: 1300px) {
  .wrapper {
    max-width: 1050px;
  }
}
@media (max-width: 1100px) {
  .wrapper {
    max-width: 800px;
  }
}
@media (max-width: 850px) {
  .wrapper {
    max-width: 100%;
    margin-inline: 2rem;
  }
}

header {
  padding-top: 5rem;
  height: 10rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.logo {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}
.logo__image {
  max-width: 100%;
  max-height: 100%;
}
@media (max-width: 1100px) {
  .logo {
    width: 15rem;
  }
}
@media (max-width: 850px) {
  .logo {
    width: 8rem;
  }
}

header .navbar {
  height: 100%;
}
header .navbar ul {
  height: 100%;
  list-style-type: none;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 6rem;
}
header .navbar ul li a {
  text-decoration: none;
  color: black;
}
@media (max-width: 850px) {
  header .navbar ul {
    gap: 2.5rem;
  }
}

main {
  margin-top: 4rem;
}

.introduction {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;
}
.introduction__details {
  position: relative;
  align-self: center;
}
.introduction__image {
  max-width: 100%;
  max-height: 100%;
  justify-self: end;
}
.introduction__title {
  line-height: 7rem;
}
@media (max-width: 1700px) {
  .introduction__title {
    line-height: 5.5rem;
  }
}
@media (max-width: 1300px) {
  .introduction__title {
    line-height: 4.5rem;
  }
}
@media (max-width: 1100px) {
  .introduction__title {
    line-height: 3.5rem;
  }
}
.introduction__desc {
  margin-top: 2rem;
  padding-right: 7rem;
}
.introduction__input-container {
  position: relative;
  width: fit-content;
  float: left;
  margin-top: 2rem;
}
.introduction__input {
  padding-block: 1.25rem;
  padding-inline: 1rem;
  border-width: 1px;
  border-color: hsl(0, 0%, 75%);
  border-radius: 3px;
  width: 35rem;
}
@media (max-width: 1700px) {
  .introduction__input {
    width: 30rem;
    padding-block: 1.1rem;
  }
}
@media (max-width: 1300px) {
  .introduction__input {
    width: 25rem;
    padding-block: 1rem;
  }
}
@media (max-width: 1100px) {
  .introduction__input {
    width: 20rem;
    padding-block: 0.9rem;
  }
}
.introduction__input--error {
  display: none;
  position: absolute;
  top: 100%;
  color: red;
}
.introduction__button {
  padding-block: 1.35rem;
  margin-left: 0.5rem;
  color: white;
  background-color: hsl(224, 93%, 58%);
  border: none;
  border-radius: 3px;
  margin-top: 2rem;
  width: 16rem;
}
@media (max-width: 1700px) {
  .introduction__button {
    width: 14rem;
    padding-block: 1.2rem;
  }
}
@media (max-width: 1300px) {
  .introduction__button {
    width: 13rem;
    padding-block: 1.1rem;
  }
}
@media (max-width: 1100px) {
  .introduction__button {
    width: 12rem;
    padding-block: 1.1rem;
  }
}
.introduction__button:hover {
  cursor: pointer;
  background-color: hsl(224, 96%, 72%);
}
@media (max-width: 850px) {
  .introduction {
    grid-template-columns: 1fr;
  }
  .introduction__details {
    grid-row: 2;
    text-align: center;
  }
  .introduction__desc {
    padding: 0;
  }
  .introduction__image {
    grid-row: 1;
  }
  .introduction__input-container, .introduction__input {
    width: 100%;
  }
  .introduction__button {
    width: 100%;
    margin-left: 0;
  }
}

.bg-curve {
  height: 15rem;
  width: 100%;
  transform: translateY(-99%);
  position: absolute;
}
@media (max-width: 850px) {
  .bg-curve {
    height: 8rem;
    content: url("../../../images/bg-curve-mobile.svg");
  }
}

.outer-rec {
  position: relative;
  background-color: hsl(240, 75%, 98%);
  width: 100%;
  margin-top: 30rem;
  padding-bottom: 10rem;
}
@media (max-width: 850px) {
  .outer-rec {
    margin-top: 15rem;
  }
}

.rec {
  padding-top: 1rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;
}
.rec__details {
  align-self: center;
  display: grid;
  gap: 2rem;
}
.rec__title {
  line-height: 7rem;
}
@media (max-width: 1700px) {
  .rec__title {
    line-height: 5.5rem;
  }
}
@media (max-width: 1700px) {
  .rec__title {
    line-height: 4.5rem;
  }
}
@media (max-width: 1100px) {
  .rec__title {
    line-height: 3.5rem;
  }
}
.rec__desc {
  padding-right: 7rem;
}
@media (max-width: 850px) {
  .rec__desc {
    padding-right: 0;
  }
}
.rec__link {
  justify-self: flex-start;
  padding-bottom: 0.1rem;
  color: hsl(170, 45%, 43%);
  border-bottom: 1px solid hsl(170, 45%, 43%);
  text-decoration: none;
}
.rec__link img {
  margin-bottom: -0.3rem;
}
.rec__link:hover {
  color: hsl(170, 65%, 51%);
  border-color: hsl(170, 65%, 51%);
}
.rec__link:hover img {
  content: url("../../../images/icon-arrow-hover.svg");
}
@media (max-width: 850px) {
  .rec__link {
    justify-self: center;
  }
}
.rec__image {
  max-width: 100%;
  max-height: 100%;
  justify-self: center;
}
@media (max-width: 1100px) {
  .rec__image {
    margin-top: 20%;
  }
}
@media (max-width: 850px) {
  .rec {
    grid-template-columns: 1fr;
  }
  .rec__details {
    grid-row: 2;
  }
  .rec__image {
    grid-row: 1;
  }
  .rec__title {
    text-align: center;
  }
}

.card {
  width: 40rem;
  padding: 2.5rem;
  background-color: white;
  box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.267);
  border-radius: 3px;
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 1rem;
}
.card__desc {
  line-height: 2.75rem;
}
@media (max-width: 1700px) {
  .card__desc {
    line-height: 2.25rem;
  }
}
.card-writer {
  display: flex;
  align-items: center;
}
.card-writer img {
  width: 40px;
  border-radius: 50%;
  margin-right: 1rem;
}
.card-writer__details h3 {
  font-weight: bold;
}
@media (max-width: 1700px) {
  .card {
    width: 37rem;
  }
}
@media (max-width: 1100px) {
  .card {
    width: 30rem;
  }
}
@media (max-width: 850px) {
  .card {
    width: 100%;
  }
}

.card > img {
  width: 20px;
}
@media (max-width: 1100px) {
  .card > img {
    width: 15px;
  }
}

.early-access {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding-block: 8rem;
}
.early-access-text__title, .early-access-text__desc {
  padding-right: 40%;
}
@media (max-width: 1700px) {
  .early-access-text__title, .early-access-text__desc {
    padding-right: 30%;
  }
}
.early-access-text__desc {
  margin-top: 2rem;
}
.early-access-interaction {
  display: flex;
  gap: 1.5rem;
  align-items: flex-start;
  flex-direction: column;
}
.early-access-interaction__input, .early-access-interaction__button {
  padding-block: 1rem;
  padding-inline: 1.5rem;
}
.early-access-interaction__input {
  width: 70%;
}
.early-access-interaction__input--error {
  display: none;
  margin-top: -1.5rem;
  color: white;
}
.early-access-interaction__input::placeholder {
  color: hsl(0, 0%, 75%);
}
.early-access-interaction__button {
  border: none;
}
.early-access-interaction__button:hover {
  cursor: pointer;
  background-color: hsl(224, 96%, 72%);
}
@media (max-width: 850px) {
  .early-access {
    grid-template-columns: 1fr;
    gap: 2rem;
  }
  .early-access-text {
    text-align: center;
  }
  .early-access-text__title, .early-access-text__desc {
    padding: 0;
  }
  .early-access-interaction {
    justify-self: center;
    width: 75%;
  }
  .early-access-interaction__input, .early-access-interaction__button {
    width: 100%;
  }
}

.introduction__input.error {
  border-color: red;
}
.introduction__input.error:focus {
  outline: none;
}
.introduction__input.error ~ .introduction__input--error {
  display: block;
}

.early-access-interaction__input.error ~ .early-access-interaction__input--error {
  display: block;
}

@media (max-width: 850px) {
  .introduction, .rec, .early-access, footer {
    max-width: 375px !important;
    margin-inline: auto !important;
  }
}
@media (max-width: 420px) {
  .introduction, .rec, .early-access, footer {
    max-width: 100% !important;
    margin-inline: 2rem !important;
  }
}
footer {
  padding-block: 8rem;
}
.options {
  display: grid;
  grid-template-areas: "contact navbar navbar icons";
  margin-top: 4rem;
}
.options * {
  padding-left: 0;
}
@media (max-width: 850px) {
  .options {
    grid-template-areas: "contact" "navbar" "navbar" "icons";
    gap: 4rem;
  }
}

.contact {
  grid-area: contact;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}
.contact li {
  display: flex;
  align-items: center;
  gap: 1.5rem;
}
.contact li img {
  width: 18px;
}

footer .navbar {
  grid-area: navbar;
  display: grid;
  grid-auto-flow: column;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(4, auto);
  row-gap: 1rem;
  list-style-type: none;
}
footer .navbar a {
  text-decoration: none;
  color: inherit;
}
footer .navbar a:hover {
  color: hsl(224, 93%, 58%);
}
@media (max-width: 850px) {
  footer .navbar {
    grid-auto-flow: row;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(2, 1fr);
    row-gap: 1rem;
  }
  footer .navbar li:nth-child(5) {
    margin-top: 2rem;
  }
}

.icons {
  grid-area: icons;
  display: flex;
  flex-direction: row;
  gap: 1.5rem;
  list-style-type: none;
}
.icons li svg {
  fill: white;
  padding: 0.25rem;
  border-radius: 50%;
  border: 1px solid white;
  transition: 0.25s ease-in-out;
}
.icons li svg:hover {
  fill: hsl(224, 93%, 58%);
  border-color: hsl(224, 93%, 58%);
}
@media (max-width: 850px) {
  .icons {
    justify-content: center;
  }
}/*# sourceMappingURL=styles.css.map */