.project{
    position: relative;
    background-color: $bg-color;
    margin: 10px;

    box-shadow: 1px 5px 5px rgba(0, 0, 0, 0.308);

    &__image{
        max-width: 100%;
    }
    &__details{
        padding-inline: 1.5em;
        padding-block-end: 1.5em;
        padding-block-start: 1em;

        display: grid;
        gap: .75em;
    }
    &__title{
        height: 40px;
    }
    &__button-list{
        @include flexboxHorizontallyCentered(row , .75em);

        padding-inline: 1.5em;
        margin-bottom: .75em;
    }
    &__expand-icon{
        position: absolute;
        top: 0;
        left: calc(100% - 25px);

        @include opacityHoverAnimation;
    }
}
