// ============= VARIABLES SECTION =============:
$html-color: #E16428;
$css-color: #0070BB;
$js-color: #F0DB4F;
$react-color: #61DAFB;
$scss-color: #CD6799;
$api-color: #147714;
$bootsrap-color: #8957cf;
$bg-color: #F8F8FF;

// ============= CUSTOM MIXIN =============
@mixin opacityHoverAnimation(){
    opacity: 1;
    transition: opacity 0.25s ease-in-out; 
    &:hover{
        opacity: 0.4;
    }
}
@mixin styleScrollBar(){
    &::-webkit-scrollbar{
        width: .75em;
        &-thumb{
            background-color: black;

            &:hover{
                background-color: rgba(0, 0, 0, 0.747);
            }
        }
    }
}

// ============= IMPORTS SECTION ============= 
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@400;700&family=Overpass:wght@400;700&family=Roboto:wght@400;500&display=swap');

// 1) GLOBAL MIXIN FILE
@import "./mixin";

// 2) PROJECT CARD AND POPUP CARD FILES
@import './project-card';
@import './popout-card';


// ============= LAYOUT SECTION =============
*{
    @include reset;

    box-sizing: border-box;
    font-family: Verdana , Georgia , serif;
    font-size: 1rem;

    
    -webkit-user-select: none; 
    -ms-user-select: none; 
    user-select: none;
}
body{
    background-image: url("/images/bg-app.jpg");
    background-repeat: no-repeat;
    background-size: cover;

    min-height: 100vh;
    width: 100%;

    @include styleScrollBar;
}
.wrapper{
    @include blockCentered;

    max-width: 1350px;
}
.header{ 
    background-color: $bg-color;
    height: 90px;
    margin: 10px;
    padding: 1em;
    border-radius: 5px;

    box-shadow: 1px 5px 5px rgba(0, 0, 0, 0.308);

    text-align: center;
    @include flexboxVerticallyCenetered(column , 1em);
}
.main{
    border-radius: 5px;
    font-size: 120%;

    display: grid;
    grid-template-columns: repeat(auto-fit , minmax(280px , 1fr));
} 
.footer{
    background-color: $bg-color;
    margin: 10px;
    border-radius: 5px;

    clear: both; 

    box-shadow: 1px 5px 5px rgba(0, 0, 0, 0.308);

    &__items{
        padding: 5px;
        margin: 10px;
    }
    &__item{
        margin-block: 1em;
        a{
            @include flexboxVerticallyCenetered(row , .5em);
            text-decoration: none;
            color: inherit;
        }
    }
}


// ============= FONT SIZES SECTION =============
h1{
    font-size: 150%;
}
h2 , h3{
    font-size: 110%;
}
p , a , li{
    font-size: 100%;
}

// ============= BUTTON SECTION =============
button{
    padding: .5em;
    padding-inline: 1.5em;

    background-color: white;
    color: black;

    border: none;

    &:hover{
        color: white;
        background-color: black;
    }
}
// ============= UNORDERED LIST SECTION =============
ul{
    list-style-type: none;
}
// ============= ICON SECTION =============
.icon{
    max-width: 25px;
}
// ============= LANGUAGES COLORING SECTION =============
.tech-item{
    &__html{
        color: $html-color;
    }
    &__css{
        color: $css-color;
    }
    &__js{
        color: $js-color;
    }
    &__scss{
        color: $scss-color;
    }
    &__react{
        color: $react-color;
    }
    &__api{
        color: $api-color;
    }
    &__bootsrap{
        color: $bootsrap-color;
    }
}
.tech-list{
    @include flexbox(row , 1.5em);
}
// ============= MEDIA SECTION =============
@import "./breakpoints";

// ============= ADDITIONAL CLASSES =============
.hide-element{
    display: none;
}
.hide-overflow{
    overflow: hidden;
}
